:root{
    --headings-color:black;
    --font-color:#444;
    --font-color-search: #555;
    --secondary-green-200:#cffcde;
    --secondary-green-600: #6ee7b7;
    --secondary-green-400: #4ade80;
    --secondary-green-600: #16a34a;
    --secondary-green-700:#15803d;
    --secondary-green-800:#166534;
}

html{
    font-family: 'Open Sans', sans-serif;
    color: var(--font-color);
}

body{
    background-color: #f0fdf4;
}

header{
    padding: 20px;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    -webkit-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.10);
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.10);}

h2{
    margin: 0;
}

.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.5rem;
}

input[type="search"]{
    width: 50rem;
    height:20px;
    padding:25px;
    border-radius: 100px;
    margin-left: 15px;
    border:none;
    background-color: var(--secondary-green-200);
    transition: 0.2s;
}

input[type="search"]:focus {
    outline: none;
    border:2px solid var(--secondary-green-600);
    color: var(--font-color-search);
}

.icons{
    height: auto;
    width: 30px;
}

.userProfile{
    display: grid;
    grid-template-columns:1fr 2fr 3fr ;
    gap: 20px;
    align-items: start;
    justify-items: center;
}

.userProfile h2{
    justify-self: start;
    align-self: center;
    font-size: 1rem;
    color: var(--headings-color);
}

.userImage{
    border-radius: 50%;
    height: auto;
    width: 5rem;
}

.bellIcon{
    margin-top:1.5rem ;
    justify-self: end;
}

.mediaBox{
    align-items: center;
    display: flex;
    color: var(--headings-color);
    font-weight: 600;
    margin-left: 1rem; /*To make the mediabox look aligned with the searchbar inside the header*/
}

.mediaBox img{
    border-radius: 50%;
    padding-top:10px;
    display: flex;
    width: auto;
    height:7rem;
    margin: 0 30px;
}

.headerButtons{
    display: flex;
    align-items: flex-end;
}

.button{
    margin: 10px 30px;
    font-weight: 600;
    border: none;
    color: white;
    background-color: var(--secondary-green-700);
    padding: 1rem;
    border-radius: 50px;
    width: 125px;
    transition: 0.2s;
}

.button:hover{
    background-color: var(--secondary-green-800);
}
